<%- include('partials/head.ejs') %>

  <body>

    <style>
      .parentContainerOfAllchild {
        min-height: 100%;
        background: white;
      }

      .bothCheckboxBtn {
        display: flex;
        justify-content: space-between;
        max-width: 310px;
      }

      /* #toggelSelectCategory{
         position: relative;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-left: 0 !important; 

      } */

      #uploadCsvForBulkMsg {
        display: none;
      }







      /* Additional styles for your form elements can be added here */
    </style>

    <div class="container-scroller">
      <%- include('partials/navbar.ejs') %>
        <div class="container-fluid page-body-wrapper">
          <%- include('partials/sidebar.ejs') %>
            <div class="main-panel">
              <div class="content-wrapper">
                <div class="page-header">
                  <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white me-2">
                      <i class="mdi mdi-home"></i>
                      <!-- <img src="/static/assets/images/home-gradient.png" alt="" style="width: 35px;"> -->
                    </span> campaigns
                  </h3>
                </div>
                <!-- add custom code here -->



                <div class="row">
                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">

                      <div class="card-body">

                        <form action="/createCampaigns" method="post" id="campaignForm">
                          <div class="CreatemodalForm">
                            <h2 class="align-center">Create Campaign</h2>
                        
                            <div class="form-group" id="phoneNumInputField">
                              <input type="text" name="phoneOfTemp" class="form-control p-2" id="phoneNumOfTemp" placeholder="Campaign Name" required>
                              <p class="text-danger" id="campaignname"></p>
                            </div>
                        
                            <!-- radio buttons -->
                            <div class="bothCheckboxBtn">
                              <div class="form-check" id="showTmpltMsg" onclick="showSelectTemplate()">
                                <input type="radio" name="messageType" onclick="showHideCampaignAttachments()" value="template" id="TemplateMessage">
                                <label for="TemplateMessage"><strong class="text-muted">Template Message</strong></label>
                              </div>
                        
                              <div class="form-check" onclick="showCustomMsgDiv()">
                                <input type="radio" onclick="showHideCampaignAttachments()" name="messageType" value="custom" id="customMessage">
                                <label for="customMessage"><strong class="text-muted">Custom Message</strong></label>
                              </div>
                            </div>
                            <!-- radio buttons -->
                        
                            <!-- select template -->
                            <div class="form-group" id="hideSelectTEmplateDiv" style="display: none;">
                              <select name="selectTemp" id="tempOfBtn" class="w-100 text-secondary p-2">
                                <option value="">Please Select Template</option>
                                <!-- Add template options here -->
                              </select>
                              <p class="text-danger" id="selError"></p>
                            </div>
                        



                          


                            <!-- image link -->
                            <!-- file uploader -->
                            <!-- <div class="mb-3" id="hideAndShowFileUploader">
                              <label for="excelFile" class="label" id="showFileName">
                                <i class="fa-solid fa-cloud-arrow-up"></i><br>Upload CSV file for bulk entry
                              </label>
                              <input class="form-control w-50" onchange="displayFileName()" name="extractExcel" id="excelFile" type="file" accept=".xlsx">
                          </div> -->


                            <!-- custom message -->
                            <div class="form-group" id="customMessageDiv" style="display: none;">
                              <textarea placeholder="Write your Message Here..." onkeyup="" name="customMsgData" id="customMsgInputField" class="form-control w-100 text-secondary p-2" spellcheck="false"></textarea>
                              <p class="text-danger" id="customFieldError"></p>
                            </div>
                        




                            <div class="mb-3" id="uploadCsvForBulkMsg">
                              <label for="excelFile" class="label">
                                <i class="fa-solid fa-cloud-arrow-up"></i><br>Upload CSV file for bulk entry
                              </label>
                              <input class="form-control w-50" id="excelFile" type="file" accept=".xlsx" value="">
                              <p class="text-danger" id="attachFileError"></p>
                            </div>
                        
                            <button class="button-12" type="submit">Submit</button>
                          </div>
                        </form>
                        
                        

                      </div>

                    </div>
                  </div>
                </div>
                <!-- add custom code here -->
              </div>
              <%- include('partials/footer.ejs') %>
            </div>
        </div>
    </div>

    <script>
      //  document.getElementById('BulkAndSelectCategory').style.display='none';
      //  document.getElementById('toggelSelectCategory').style.display='none';
      document.getElementById('hideSelectTEmplateDiv').style.display = 'none';
      document.getElementById('customMessageDiv').style.display = 'none';
      showSelectTemplate = () => {
        if (TemplateMessage.checked) {
          document.getElementById('hideSelectTEmplateDiv').style.display = 'block';
          document.getElementById('customMessageDiv').style.display = 'none';
        }
      }
      showCustomMsgDiv = () => {
        if (document.getElementById('customMessage').checked) {

          document.getElementById('customMessageDiv').style.display = 'block';
          document.getElementById('hideSelectTEmplateDiv').style.display = 'none';
        }
      }

  </script>




    <script>
      const selectElement = document.getElementById("tempOfBtn");
      const apiUrl =
        "https://graph.facebook.com/v17.0/104022815935352/message_templates?fields=name,language=en_US,status=APPROVED";

      // Fetch data from the API
      fetch(apiUrl, {
        headers: {
          Authorization: `Bearer EAAWqeZCMrJ6sBO7zUipLVLmnOdyF0ZBPcMyJC17gRmcZAZAnn3mMbRkvb19SFMiwvZCaIhuZAeB1C0QCrgfJK193Hav9kIDsKM5ZCvFAVkjgAkb57BOj2DWULJmEDvdxjpp01hpsznvZA7ZBVaO22QQdFjmfa0bggPndsH81BegAEgD8hSak3Pz8woVvPwLOMKAOnNLVEiDggLACVbaru`,
          "Content-Type": "application/json",
        }
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          // Iterate through the data and add options to the select element
          data.data.forEach((template) => {
            const option = document.createElement("option");
            option.value = template.name;
            option.textContent = template.name;
            selectElement.appendChild(option);
          });
        })
        .catch((error) => {
          console.error("Error fetching data:", error);
        });

    </script>

    <script>
      window.history.pushState(null, null, window.location.href);
      window.onpopstate = function () {
        window.history.pushState(null, null, window.location.href);
      };
    </script>





<script>
  document.getElementById('hideAndShowFileUploader').style.display='none';
  document.getElementById('hideshowCamppaignAttachment').style.display='none';
  
  toggleIMGSection=()=>{
    if(document.getElementById("imgRadioBtn").checked){
      document.getElementById('hideAndShowFileUploader').display='block';
    }
  }
  if(document.getElementById('imgRadioBtn').checked){ 
     document.getElementById('showFileName').display='block';
  }
    showHideCampaignAttachments=()=>{
      if(document.getElementById('customMessage').checked){
        document.getElementById('hideshowCamppaignAttachment').style.display='block';
      }
      if(document.getElementById('TemplateMessage').checked){
        document.getElementById('hideshowCamppaignAttachment').style.display='none';
      }

      // if(document.getElementById('TemplateMessage').checked){
      //   document.getElementById('hideshowCamppaignAttachment').style.display='none';
      // }
  }



  // display filename
  function displayFileName() {
                    const fileInput = document.getElementById('excelFile');
                    const uploadedFileName = document.getElementById('uploadedFileName');

                    if (fileInput.files.length > 0) {
                      uploadedFileName = document.getElementById('showFileName').innerHTML = `<i class="fa-solid fa-cloud-arrow-up"></i>${fileInput.files[0].name}`;
                    } else {
                      uploadedFileName.textContent = "";
                    }
                  }
</script>

  </body>

  <%- include('partials/scripts.ejs') %>

    </html>