<%- include('partials/head.ejs') %>
    

        <body>

            <div class="container-scroller">
                <%- include('partials/navbar.ejs') %>
                    <div class="container-fluid page-body-wrapper">
                        <%- include('partials/sidebar.ejs') %>

<style>
    .table td {
                       max-width: 200px;
                       /* Adjust the width as needed */
                       white-space: nowrap;
                       overflow: hidden;
                       text-overflow: ellipsis;
                       white-space: normal;
                       word-wrap: break-word;
                   }
</style>
                            <div class="main-panel">
                                <div class="content-wrapper">
                                    <div class="page-header">
                                        <h3 class="page-title">
                                            <span class="page-title-icon bg-gradient-primary text-white me-2">
                                                <i class="mdi mdi-home"></i>
                                            </span>Custom Message histroy
                                        </h3>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 grid-margin stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Message History</h4>
                                                    <p class="card-description"> You can <code>sort</code> the data by
                                                        clicking on the titles.
                                                    </p>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>To Mob No.</th>
                                                                <th>Message</th>
                                                                <th>Date and time</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% iterate.forEach(item=> { %>
                                                            <tr>
                                                                <td>1 </td>
                                                                <td>
                                                                    <%= item.mobileNumber %>
                                                                </td>
                                                                <td>
                                                                    <%= item.customMsgData %>
                                                                </td>
                                                                <td>
                                                                    <%= new
                                                                        Date(item.created_at).toLocaleString('en-US',
                                                                        { timeZone: 'Asia/Kolkata' }) %>
                                                                </td>
                                                                <td>Delivered / Not Delivered</td>
                                                            </tr>
                                                            
                                                            <% }); %>
                                                        </tbody>
                                                    </table>


                                                </div>
                                                <%- include('partials/footer.ejs') %>
                                            </div>
                                        </div>
                                    </div>

        </body>
        <%- include('partials/scripts.ejs') %>

            </html>