<%- include('partials/head.ejs') %>

  <body>
    <div class="container-scroller">
      <%- include('partials/navbar.ejs') %>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:../../partials/_sidebar.html -->
          <%- include('partials/sidebar.ejs') %>
            <!-- partial -->
            <div class="main-panel">
              <div class="content-wrapper">
                <div class="page-header">
                  <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white me-2">
                      <i class="mdi mdi-home"></i>
                    </span>Template Messages
                  </h3>
                </div>
  

                <!-- new line add by me  -->
                <div class="row">
                  <div class="col-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="">Select Message Type</h3>

                        <p></p>
                        <!----------------------- Template message starts --------------------->

                        <div class="SucessMsgTemplate d-flex justify-content-center" id="showSucessMessage">


                        </div>
                        <!----------------------custom message starts------------------------->
                        <!-- sendCustomMsgWithIncludingMedia();  sendCallOrActionResponse(); -->
                        <form id="togleCustomMsg" action="/sendCustomMessage" method="post" enctype="multipart/form-data">
                          <div>

                            <div class="alert-success w-25 text-center m-auto" id="successMsg" role="alert">
                              <!-- show here Error Msg -->
                            </div>
                            <div class="container mt-0 mb-5 p-5 col-10 shadow-lg text-secondar">
                              <h2 class="text-center text-muted mb-4">Custom Message</h2>
                              <!-- Radio buttons -->
                              <div class="bothCheckboxBtn" style="display: flex; justify-content:space-between">

                                <div class="form-check">
                                  <input name="sameBtn" onchange="showOnlySingleInputField()" type="radio" value="NumbersInput" id="selectCustomScvFile">
                                  <label for="selectCustomScvFile"><strong>Mobile Number</strong><span class="text-muted">(Single Number)</span></label>
                              </div>

                                <div class="form-check">
                                  <input name="sameBtn" onchange="toggleCustomCsvFileINputField()" type="radio"
                                    value="bulkUploaderFile" id="customMsgCheckbox">
                                  <label for="customMsgCheckbox"><strong>Bulk upload</strong> <span
                                      class="text-muted">(CSV File)</span></label>
                                </div>

                                <div class="form-check">
                                  <input name="sameBtn" onchange="showSelectOptionsOnly()" type="radio"
                                    value="selecteCategory" id="checkSElectCAtegory">
                                  <label for="checkSElectCAtegory"><strong>Select Category</strong></label>
                                </div>


                              </div>
                              <!-- Radio buttons -->


                              <div class="form-group" id="hideWhilePressOnBulk">
                                <input type="text" name="mobileNumber" class="form-control p-2" id="phone"
                                  placeholder="Enter Phone Numbers comma saperated cust">
                                <p class="text-danger" id="phoneError"></p>
                              </div>

                              <div class="form-check sameInputHover" id="hideANdShowCategorySEction">
                                <select name="category" id="category" class="w-100 text-secondary p-2">
                                  <option value=""> Select Category</option>
                                  <% categories.forEach(category=> { %>
                                    <option value="<%= category %>">
                                      <%= category %>
                                    </option>
                                    <% }); %>
                                </select>
                              </div>

                              <!-- fileinputErrorValidation(); displayFileName(); -->
                              <div class="mb-3" id="togglecustomMsgUploadCsv">
                                <label for="customMsgExcelFile" class="label" id="showFileName">
                                  <i class="fa-solid fa-cloud-arrow-up"></i><br>Upload CSV file for bulk entry </label>
                                <input class="form-control w-50" id="customMsgExcelFile" type="file" name="extractExcel"
                                  accept=".xlsx">

                                <p class="text-danger" id="fileNotSelect"></p>
                              </div>

                              <div class="form-group">
                                <textarea placeholder="Write your Message Here..." name="customMsgData"
                                  id="customMsgInputField" class="form-control w-100 text-secondary p-2"></textarea>
                                <p class="text-danger" id="customFieldError"></p>
                              </div>

                              <div class="form-check">
                                <input onchange="toggeleAttachmentsItems()" type="checkbox" value="imgAttached"
                                  name="sameBtn" id="allAttachmentsInclude">
                                <label for="allAttachmentsInclude"> Attachment </label>
                              </div>

                              <!-- all attachmenet radio buttons -->
                              <div class="form-check" id="toggleAttachmentsContents">

                                <!-- <input onchange="toggleAttachmentInputBoxVPI()" type="radio" name="attachbtn"
                                  id="imgRadioBtn" value="imageSelected">
                                <label for="imgRadioBtn"> Image</label> -->
                                <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->
                                <input onchange="toggleAttachmentInputBoxVPI()" type="radio" name="attachbtn" value="imageSelected" id="imgRadioBtn">
    <label for="imgRadioBtn"> Image</label>

                                <input type="radio" name="attachbtn" id="custom" value="videoSelected">
                                <label for="custom">Video</label>
                                <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->

                                <input onchange="toggleThirdContent()" type="radio" name="attachbtn" value="pdfSelected"
                                  id="mediaBtn">
                                <label for="mediaBtn">PDF</label>
                                <br>

                                <!-- <input onkeyup="" type="text" name="attachment-url" class="form-control p-2 mt-3"
                                  id="attachmentURL" placeholder="Enter URL of your media file"> showFileName -->
                                <label for="uploadOnlyIMG" class="label" id="attachmentURL">
                                  <i class="fa-solid fa-cloud-arrow-up"></i><br>Upload image</label>
                                <!-- <input id="uploadOnlyIMG" type="file" accept=".jpg, .jpeg, .png, .gif"> -->
                                <input id="uploadOnlyIMG" type="file" name="extractExcel" accept=".jpg, .jpeg, .png, .gif">


                                <br>
                                <p id="mediaUrlError"></p>
                                <p>Max file size 100mb</p>
                              </div>

                              <!-- test here -->
                              <!-- <div class="form-check" id="toggleAttachmentsContents">
                                  <div class="form-check sameInputHover">
                                    <input onchange="toggleAttachmentInputBoxVPI()" type="radio" value="" name="" id="uploadImage">
                                    <label for="uploadImage"><strong>
                                            </strong> <span class="text-muted">
                                            </span></label> 
                                </div>

                                  </div> -->
                              <!-- test here -->
                              <button type="submit" id="btn" class="btn btn-dark w-100">send</button>
                            </div>
                          </div>
                        </form>


                        <script>
                          const togglecustomMsgUploadCsv = document.getElementById('togglecustomMsgUploadCsv');
                          togglecustomMsgUploadCsv.style.display = 'none';

                          const toggleAttachmentsContents = document.getElementById('toggleAttachmentsContents')
                          toggleAttachmentsContents.style.display = 'none';

                          const attachmentURL = document.getElementById('attachmentURL');
                          attachmentURL.style.display = 'none'

                          toggleCustomCsvFileINputField = () => {
                            const customMsgCheckbox = document.getElementById('customMsgCheckbox')
                            if (customMsgCheckbox.checked) {
                              togglecustomMsgUploadCsv.style.display = 'block'
                              document.getElementById('hideWhilePressOnBulk').style.display = 'none'
                              document.getElementById('hideANdShowCategorySEction').style.display = 'none'
                            }
                          }

                          toggleCustomMsgInputFld = () => {
                            const selectCustomScvFile = document.getElementById('selectCustomScvFile')
                            if (selectCustomScvFile.checked) {
                              document.getElementById('hideWhilePressOnBulk').style.display = 'block'
                              togglecustomMsgUploadCsv.style.display = 'none'
                            }
                          }

                          toggeleAttachmentsItems = () => {
                            const allAttachmentsInclude = document.getElementById('allAttachmentsInclude')
                            const toggleAttachmentsContents = document.getElementById('toggleAttachmentsContents')

                            if (allAttachmentsInclude.checked) {
                              toggleAttachmentsContents.style.display = 'block'
                            } else {
                              toggleAttachmentsContents.style.display = 'none'
                            }
                          }

                          toggleAttachmentInputBoxVPI = () => {
                            const imgRadioBtn = document.getElementById('imgRadioBtn');
                            if (imgRadioBtn.checked) {
                              attachmentURL.style.display = 'block'
                            }
                          }


                          // Get a reference to the checkbox element and the div to show/hide
                          const checkbox = document.getElementById("checkSElectCAtegory");
                          const divToToggle = document.getElementById("hideANdShowCategorySEction");
                          divToToggle.style.display = 'none'
                          // Add an event listener to the checkbox
                          checkbox.addEventListener("click", function () {
                            if (checkbox.checked) {
                              // If the checkbox is checked, show the div
                              divToToggle.style.display = "block";
                            } else {
                              // If the checkbox is unchecked, hide the div
                              divToToggle.style.display = "none";
                            }
                          })


                          document.getElementById('hideWhilePressOnBulk').style.display = 'none';
                          showOnlySingleInputField = () => {
                            document.getElementById('hideWhilePressOnBulk').style.display = 'block';
                            document.getElementById('togglecustomMsgUploadCsv').style.display = 'none';
                            document.getElementById('hideANdShowCategorySEction').style.display = 'none';
                          }

                          showSelectOptionsOnly = () => {
                            document.getElementById('togglecustomMsgUploadCsv').style.display = 'none';
                            document.getElementById('hideWhilePressOnBulk').style.display = 'none';

                          }


                          // function displayFileName() {
                          //               const fileInput = document.getElementById('customMsgExcelFile');
                          //               const uploadedFileName = document.getElementById('uploadedFileName');

                          //               if (fileInput.files.length > 0) {
                          //                 uploadedFileName = document.getElementById('showFileName').innerHTML = `<i class="fa-solid fa-cloud-arrow-up"></i>${fileInput.files[0].name}`;
                          //               } else {
                          //                 uploadedFileName.textContent = "";
                          //               }
                          //             }
                        </script>
                        <!---------------------- custom message  Ends------------------------->

                      </div>
                    </div>
                  </div>
                </div>
                <!-- new line add by me  -->
              </div>
              <%- include('partials/footer.ejs') %>
            </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs') %>
  </body>

  </html>