<%- include('partials/head.ejs') %>

    <body>

        <div class="container-scroller">
            <%- include('partials/navbar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/sidebar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="page-header">
                                    <h3 class="page-title">
                                        <span class="page-title-icon bg-gradient-primary text-white me-2">
                                            <i class="mdi mdi-home"></i>
                                            <!-- <img src="/static/assets/images/home-gradient.png" alt="" style="width: 35px;"> -->
                                        </span> Category management
                                    </h3>
                                </div>

                                <!-- add custom code here -->
                                <div class="row">
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card">
                                            <h2 class="text-center" style="padding-top: 30px">update Category</h2>
                                            <div class="card-body">

<style>
    .catagoryCont input{border-radius: 5px;}
    .catagoryCont button{margin-left: 20px;}
</style>

                                                <form action="/category_management/update/<%= category._id %>" method="post">
                                                    <div class="catagoryCont" style="display: flex;">
                                                        <input type="text" id="categoryName" style="width: 30%;" class="form-control p-2" name="categoryName" value="<%= category.categoryName %>">
                                                        <button type="submit" class="button-12">Update Category</button>
                                                        </div>
                                                  </form>


                        

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- add custom code here -->
                            </div>
                            <%- include('partials/footer.ejs') %>
                        </div>
                </div>
        </div>
        <script>
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, null, window.location.href);
            };
        </script>
    </body>

    <%- include('partials/scripts.ejs') %>

        </html>