    <%- include('partials/head.ejs') %>
<body>
  <div class="container-scroller">
   <%- include('partials/navbar.ejs') %>
   <!-- partial -->
   <div class="container-fluid page-body-wrapper">
     <!-- partial:../../partials/_sidebar.html -->
     <%- include('partials/sidebar.ejs') %>
     <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
              </span> Messages
            </h3>
          </div>
          <%- include('partials/messages.ejs') %>
        </div>
       <%- include('partials/footer.ejs') %>
      </div>
    </div>
  </div>
      <%- include('partials/scripts.ejs') %>
</body>
</html>