<%- include('partials/head.ejs') %>

    <body>
        <div class="container-scroller">
            <%- include('partials/navbar.ejs') %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:../../partials/_sidebar.html -->
                    <%- include('partials/sidebar.ejs') %>
                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="page-header">
                                    <h3 class="page-title">
                                        <span class="page-title-icon bg-gradient-primary text-white me-2">
                                            <i class="mdi mdi-home"></i>
                                        </span> Profile
                                    </h3>
                                </div>
                                <!-- put here -->
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <form action="/AdditionalDocuments" method="post">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" name="GSTNumbers" value="" placeholder="Enter here GST Number">
                                            </div>
                                            <div class="mb-3" id="uploadCsvForBulkMsg" style="display: block;">
                                                <label for="excelFile" class="label" id="showFileName">
                                                  <i class="fa-solid fa-cloud-arrow-up"></i><br>Upload GST Certificate
                                                </label>
                                                <input class="form-control w-50" onchange="displayFileName()" name="extractExcel" id="excelFile" type="file" accept=".xlsx">
                                              </div>
                                            <button style="background: #242121;
                                          color: white;
                                          border-radius: 6px;
                                          border: none;
                                          padding: 8px;
                                          width: 100%;">upload</button>
                                    </form>


                                        <table class="table">
                                            <tbody>
                                                <h2>User Details</h2>
                                                
                                                  
                                                    <tr>
                                                        <td>First Name</td>
                                                        <td>:</td>
                                                        <td>
                                                            <%= user.fname %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Last Name</td>
                                                        <td>:</td>
                                                        <td>
                                                            <%= user.lname %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone No</td>
                                                        <td>:</td>
                                                        <td>
                                                            <%= user.phoneNum %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email</td>
                                                        <td>:</td>
                                                        <td>
                                                            <%= user.userEmail %>
                                                        </td>
                                                    </tr>

                                                    <!-- start from here -->
                                                  

                                                    <!-- start from here -->
                                            </tbody>
                                        </table>
                                        <a id="EditBtn" href="/update/<%= user._id %>">edit details</a>
                                    </div>
                                    <div class="card-body">
                                        <h2>Business Details</h2>
                                        <table class="table" id="data-table">
                                            <thead>
                                                <tr>
                                                    <!-- <th>Field</th> -->
                                                    <!-- <th>Value</th> -->
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- put here -->
                            </div>
                            <%- include('partials/footer.ejs') %>
                        </div>
                </div>
        </div>
        <%- include('partials/scripts.ejs') %>
    </body>

    <script>
     const GRAPH_API_URL = 'https://graph.facebook.com/v17.0/116168451372633?fields=verified_name,code_verification_status,display_phone_number,quality_rating,id';

const tableBody = document.querySelector('#data-table tbody');

fetch(GRAPH_API_URL,{
    headers: {
        Authorization: `Bearer EAAWqeZCMrJ6sBO7zUipLVLmnOdyF0ZBPcMyJC17gRmcZAZAnn3mMbRkvb19SFMiwvZCaIhuZAeB1C0QCrgfJK193Hav9kIDsKM5ZCvFAVkjgAkb57BOj2DWULJmEDvdxjpp01hpsznvZA7ZBVaO22QQdFjmfa0bggPndsH81BegAEgD8hSak3Pz8woVvPwLOMKAOnNLVEiDggLACVbaru`,
        "Content-Type": "application/json",
      }
})
    .then(response => response.json())
    .then(data => {
        const fieldsToShow = [
            'verified_name',
            'code_verification_status',
            'display_phone_number',
            'quality_rating',
            'id'
        ];

        fieldsToShow.forEach(fieldName => {
            const row = document.createElement('tr');
            const fieldCell = document.createElement('td');
            fieldCell.textContent = fieldName;
            const valueCell = document.createElement('td');
            valueCell.textContent = data[fieldName] || 'N/A';

            row.appendChild(fieldCell);
            row.appendChild(valueCell);
            tableBody.appendChild(row);
        });
    })
    .catch(error => {
        console.error('Error fetching data:', error);
    });

    </script>
    </html>